<a href="https://colab.research.google.com/github/Anuragnagabelly/my_projects/blob/Hyderabad_Restaurant_Analytics/Hyderabad_Restaurant_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. load and inspect the data

In [4]:
import pandas as pd
df = pd.read_csv("HyderabadResturants.csv")
df.head()
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   links          657 non-null    object
 1   names          657 non-null    object
 2   ratings        657 non-null    object
 3   cuisine        657 non-null    object
 4   price for one  657 non-null    int64
dtypes: int64(1), object(4)
memory usage: 25.8+ KB

links            0
names            0
ratings          0
cuisine          0
price for one    0
dtype: int64

2. Clean the data

In [10]:
df = df.drop_duplicates()
df['ratings'] = pd.to_numeric(df['ratings'], errors='coerce')
df['ratings'] = df['ratings'].fillna(df['ratings'].median())
df['price for one'] = df['price for one'].replace('[â‚¹,]', '', regex = True)
df['price for one'] = pd.to_numeric(df['price for one'], errors='coerce')
df['price for one'] = df['price for one'].fillna(df['price for one'].median())
df['cuisine'] = df['cuisine'].fillna("Unknown")

3. Create New features

In [13]:
df['cuisine_count'] = df['cuisine'].fillna("Unknown").apply(lambda x: len(x.split(',')))
df['High_rated'] = df['ratings'].apply(lambda x: 1 if x >= 4 else 0)
df['price_category'] = pd.cut(df['price for one'], bins=[0, 150, 300, 500, 2000], labels = ['Very Budget', 'Budget', 'Mid', 'Premium'])

4. Basic Insights

In [18]:
print("Top 5 Restaurants by Ratings:")
print(df.sort_values(by ='ratings', ascending = False)[['names', 'ratings']].head())

print("\nMost popular cuisines in Hyderabad:")
print(df['cuisine'].value_counts().head())

print("\nAverage price per location:")
print(df.groupby('links')['price for one'].mean().sort_values().head())

print("\nHigh Rated Restaurants Count:")
print(df['High_rated'].value_counts())

Top 5 Restaurants by Ratings:
                  names  ratings
450  Sri Krishna Sweets      4.7
611  Mimee's Chocolates      4.6
496        US Live Pops      4.6
72         Almond House      4.6
184            Euphoria      4.6

Most popular cuisines in Hyderabad:
cuisine
South Indian             67
Bakery, Desserts         23
Mithai, Street Food      22
Mithai                   14
North Indian, Chinese    13
Name: count, dtype: int64

Average price per location:
links
https://www.zomato.com/hyderabad/zomoz-the-momo-company-banjara-hills/order    50.0
https://www.zomato.com/hyderabad/al-kareem-hotel-1-mehdipatnam/order           50.0
https://www.zomato.com/hyderabad/wholesale-bakery-l-b-nagar/order              50.0
https://www.zomato.com/hyderabad/tibbs-frankie-1-himayath-nagar/order          50.0
https://www.zomato.com/hyderabad/amay-tiffin-corner-abids/order                50.0
Name: price for one, dtype: float64

High Rated Restaurants Count:
High_rated
1    409
0    248
Name: count, dtype: int64

Recommendation System

In [27]:
def recommend(data, cuisine = None, min_rating =4):
  res = data.copy()
  if cuisine:
    res = res[res['cuisine'].str.contains(cuisine, case = False, na = False)]
  res = res[res['ratings'] >= min_rating]
  return res[['names', 'ratings', 'cuisine', 'links']].head(5)

recommend(df, "Biryani",4)

,names,ratings,cuisine,links
1,KFC,3.9,"Burger, Fast Food, Biryani, Desserts, Beverages",https://www.zomato.com/hyderabad/kfc-abids/order
3,Paradise Biryani,3.9,"Biryani, Kebab, Desserts, Beverages",https://www.zomato.com/hyderabad/paradise-biry...
8,Mehfil,4.1,"North Indian, Biryani, Mughlai",https://www.zomato.com/hyderabad/mehfil-naraya...
11,Iqbal Cafe,4.4,"Hyderabadi, Biryani",https://www.zomato.com/hyderabad/iqbal-cafe-1-...
13,Al- Naseer Tahari Centre,4.3,Biryani,https://www.zomato.com/hyderabad/al-naseer-tah...

Save Cleaned file

In [20]:
df.to_csv("HyderabadResturants.csv", index = False)
print("Cleaned file saved successfully!")

Cleaned file saved successfully!